@use "./partials/normalize";

@use "./sections/navigation.scss";
@use "./sections/index.scss";
@use "./sections/about.scss";
@use "./sections/skills.scss";
@use "./sections/projects.scss";
@use "./sections/contact.scss";

@use "./partials/variables" as v;
@use "./partials/mixins" as m;
@use "./partials/queries" as q;

main {
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-position: 0%;
    background-repeat: no-repeat;

    .content {
        @include m.full-screen;
        @include m.content-center;

        &_btn-container {
            @include m.btn-style;
        }

        &_btn, &_gallery_btn {
            border: none;
            background: none;
    
            &_img {
                @include m.icon-style;

                &--view {
                    height: 50px;
                    width: 50px;
                    border-radius: 10%;
                }
    
                &:active, &:hover {
                    @include m.clickable;
                }
            }
        }

        &_gallery {
            display: grid;
            grid-gap: 10px;
            margin-top: 20px;

            &--contact {
                grid-template-columns: 1fr 1fr 1fr;
            }

            &--projects, &--skills {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }

            &_btn_img, &_img--contact, &_img--projects, &_img--skills {
                @include m.icon-style;
                height: 50px;
                width: 50px;
                object-fit: cover;
                padding: 10px;
        
                &:active, &:hover {
                    @include m.clickable;
                }
            }
        }

        &_heading, &_para {
            @include m.text-style;
        }

        &_para--about {
            padding: 0 100px;

            @include q.small-screen {
                padding: 20px;
            }

            @include q.medium-screen {
                padding: 15px;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;

    font-family: v.$text-font;
    font-weight: v.$text-weight;
    color: v.$light-color;
}