@use "../partials/mixins" as m;

.contact {
    @include m.full-screen;
    @include m.content-center;
    
    #contactForm {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 50%;
        height: 40%;

        textarea {
            height: 70%;
        }

        #contactBtn {
            padding: 2px;
        }
    }
}