@use "../partials/mixins" as m;

#contact-section {
    #contact-form {
        @include m.content-center;
        gap: 5px;
        width: 50%;
        padding: 20px;

        .btn-container {
            #contact-btn {
                @include m.icon-style;
                height: 50px;
                width: 50px;
    
                &:hover {
                    @include m.clickable;
                }
            }
        }
    }
}