@use "../partials/mixins" as m;
@use "../partials/variables" as v;
// @use "../partials/queries" as q;

// .nav-bar {
//     width: 100%;
//     @include q.mobile {
//         width: 90%;
//     }
    
//     @include q.small-tablet {
//         width: 80%;
//     }
      
//     @include q.tablet {
//         width: 75%;
//     }
      
//     @include q.large-tablet {
//         width: 72.5%;
//     }
      
//     @include q.laptop {
//         width: 70%;
//     }
      
//     @include q.desktop {
//         width: 65%;
//     }

// }

.nav-links {
    display: flex;
    justify-content: space-around;  
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    list-style: none;
    padding: 0;
    margin: 2em auto;

    li {
        margin: auto;
        padding: auto;

        a {
            text-decoration: none;
            @include m.text-style;

            &:hover {
                color: v.$light-color;
                background-color: v.$medium-color;
            }
        }
    }
}