@use "../partials/mixins" as m;
@use "../partials/variables" as v;
// @use "../partials/queries" as q;

// .nav-bar {
//     width: 100%;
//     @include q.mobile {
//         width: 90%;
//     }
    
//     @include q.small-tablet {
//         width: 80%;
//     }
      
//     @include q.tablet {
//         width: 75%;
//     }
      
//     @include q.large-tablet {
//         width: 72.5%;
//     }
      
//     @include q.laptop {
//         width: 70%;
//     }
      
//     @include q.desktop {
//         width: 65%;
//     }

// }

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 60px;
    width: 100%;
    position: fixed;

    .nav-link {
        @include m.content-center;
        flex: 1;
        height: inherit;
        width: inherit;

        a {
            @include m.text-style;
            @include m.content-center;
            height: inherit;
            width: inherit;
            text-decoration: none;
        }

        &:hover {                
            @include m.clickable;
        }
    } 
}