@mixin full-screen {
    height: 100vh;
    width: 100%;
}

@mixin content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin text-size($small, $medium, $large) {
    font-size: $medium;
    &--small {
        font-size: $small;
    }

    &--large {
        font-size: $large;
    }
}