$xs-height: 680px;
$s-height: 812px;
$m-height: 896px;


@mixin xsmall-screen {
  @media screen and (max-height: $xs-height) {
    @content;
  }
}

@mixin small-screen {
  @media screen and (max-height: $s-height) {
    @content;
  }
}

@mixin medium-screen {
  @media screen and (max-height: $m-height) {
    @content;
  }
}